aiogram==3.13.1
SQLAlchemy[asyncio]==2.0.35
asyncpg==0.29.0
alembic==1.13.3
pydantic==2.9.2
pydantic-settings==2.5.2
redis==5.1.1
APScheduler==3.10.4
gspread==6.1.4
google-auth==2.35.0
openpyxl==3.1.5
loguru==0.7.2
